body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    margin: 20px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#wallet-info {
    margin-top: 20px;
}

#qrcode {
    margin-top: 20px;
}

.price-info {
    margin-top: 30px;
}
